on:
  create:
  workflow_dispatch:

jobs:
  repo-sync:
    runs-on: ubuntu-latest
    permissions: write-all

    steps:
      # To use this repository's private action, you must check out the repository
      - name: Checkout
        uses: actions/checkout@v4

      - name: Run commands
        run: |
          echo "Teste" >> README.md
          
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v7